<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="Verport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' type='text/css' media='screen' href="/static/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/style.css'>
    <title>example</title>
  </head>

  <body>
    <%- include ('./templates/menu') %> 

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1>example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        
        </div>
      </section>

      <div class="album py-5 bg-white">
        <div class="container">
          <div class="row">
          <% if (postagens) { %>
            <% for(var i = 0; i < postagens.length; i++){ %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/<%= postagens[i].img %>">
                   <div class="card-body">
                  <p class="card-text"> <%= postagens[i].title %> </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="/post/<%= postagens[i]._id %>" target="_blank" >Ver</a>
                    </div>
                    <small class="text-muted"><%= postagens[i].date %></small>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
          </div>
        </div>
      </div>

    </main>
    <%- include ('./templates/footer') %> 
  </body>
</html>
