<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="Verport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' type='text/css' media='screen' href="/static/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/style.css'>
    <title>example</title>
  </head>

  <body>
    <%- include ('./templates/menu') %> 

    <main role="main">
        <% if (postagem) { %>
        <section class="jumbotron text-center">
            <div class="container">
                <p class="h3"><%= postagem.title %></p>  
                <%= postagem.date %>
                <hr>
                <div class="form-group col-md-10 container">
                    <p class="h5 text-justify"> <%= postagem.message %> </p> 
                </div>
            </div>
        </section>
        <% } %>
    </main>
    <%- include ('./templates/footer') %> 
  </body>
</html>
